    .section-clips {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .title-and-hit {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .title {
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;  
        justify-content: center; 
        padding: 2%;
    }

    .title h1 {
        font-size: 96px;
        color: #FF6F61;
    }

    .sanji-hit {
        width: 35%;
        height: 90%;      
        display: flex;
        flex-direction: column;
    }
    .sanji-luffy {
        width: 100%;
        height: 70%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .quoke {
        display: flex;
        height: 30%;
        width: 100%;
        color: #696969;
        padding: 3%;
        align-items: center;
        flex-direction: column;
    }
    .quoke h1{
       
        font-size: 24px;
    }
    .quoke p {
        font-size: 15px;
    }

    .sanji-hit img {
        width: 55%             
    }

    .info-entrance {
        display: flex;
        width: 100%;
        height: 10%;
        align-items: center;
        justify-content: center;
    }

    .info-entrance h3 {
        font-size: 40px;
        color: #696969;
    }
    .history {
        display: flex;
        flex-direction: row;
    }
    .img-cry {
        width: 45%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1%;
    }
    .img-cry img {
        width: 90%;
    }
    .img-boy {
        width: 55%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }