<div class="container">
    <h2 class="titulo">CAPÍTULOS QUE NO TE PUEDES PERDER</h2>
    
    <h1 class="titulo-principal">LA TRAICIÓN DE SANJI A SU CAPITÁN</h1>
    
    <div class="contenido">
      <div class="imagen-izquierda">
        <img src="./assets/sanji.png" alt="Sanji Llorando">
      </div>
      
      <div class="imagen-centro">
        <img src="./assets/sanjihit.png" alt="Sanji Golpea a Luffy">
      </div>
  
      <div class="texto-derecha">
        <blockquote>“JAMÁS SERÁS EL REY DE LOS PIRATAS”</blockquote>
        <p>
          Cuando Sanji traiciona a Luffy en Whole Cake Island, lo golpea y le dice que no necesita volver a la tripulación, todo como parte de un plan para proteger a sus amigos y familia. A pesar de esto, Luffy entiende sus verdaderas intenciones y le dice que lo esperará, sin importar lo que pase, reafirmando su fuerte vínculo como nakamas.
        </p>
      </div>
    </div>
    
    <div class="imagen-pequena">
      <img src="./assets/sanjiboy.png" alt="Sanji pequeño">
    </div>
  </div>
  