<div class="section-clips">
    <div class="info-entrance">
        <h3>CAPITULO QUE NO TE PUEDES PERDER</h3>
    </div>
    <div class="title-and-hit">
        <div class="info-san">
            <div class="title">
                <h1>LA TRAICION DE SANJI A SU CAPITÁN</h1>
            </div>
            <div class="history">
                <div class="img-cry">
                    <img src="./assets/sandycry.svg" alt="Sandy cry">
                </div>
                <div class="img-boy">
                    <img src="./assets/sanjiboy.svg" alt="Sandy Boy">
                </div>
            </div>
        </div>
        <div class="sanji-hit">
                 <div class="sanji-luffy">
            <img src="./assets/sanjihit.svg" alt="">
                </div>
        <div class="quoke">
           <h1>“JAMÁS SERÁS EL REY DE LOS PIRATAS”</h1>
           <p>Cuando Sanji traiciona a Luffy en Whole Cake Island, lo golpea y le dice que no necesita volver a la tripulación, todo como parte de un plan para proteger a sus amigos y familia. A pesar de esto, Luffy entiende sus verdaderas intenciones y le dice que lo esperará, sin importar lo que pase, reafirmando su fuerte vínculo como nakamas.</p>
        </div>
        </div>
    </div>
</div>
