<div class="footer-one">
<div class="icons">
    <img *ngFor="let icon of icons" src={{icon.img}} routerLink={{icon.linkTo}}>
</div>
<div class="references">
    <li *ngFor="let item of references">{{item.text}}</li>
</div>
<div class="box-final">
    <div class="conditions">
        <div class="tv">
            <img src="./assets/tv.svg" alt="TV">
        </div>
        <div class="conditions-text">
            <p>ABJ Mark is a registered trademark (Registration No.10921042) indicating that this e-book store / e-book distribution service is an authorized distribution service that gained permission to use content from the copyright holder. For more information check https://aebs.or.jp/. (JESÚS IMANOL CASTILLO AVENDAÑO)</p>
        </div>
    </div>
</div>
<div class="copyright">
    <p>©︎2019 Shueisha Inc. Todos los derechos reservados.</p>
</div>
</div>