section {
    width: 100%;
    height: 50vh;
    display: flex;
    color: #696969;
}
.character-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 80vh;
    padding: 20px;
  }
  .clips {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
  }
  .character-info {
    max-width: 40%;
    width: 40%;
    padding: 20px;
  }
  
  .character-image img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s ease;
  }
  .info-text {
    font-size: 1em;
    color: #696969;
  }
  
  button:hover {
    color: #007bff;
  }
  h2 {
    font-size: 5em;
    color: #FF6F61;
  }
  p {
    font-size: 30px;
  }
  .images {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    width: 100%;
    height: auto; 
    gap: 30px;
  }
  @keyframes circle-swoop {
    from {
      clip-path: var(--circle-top-right-out);
    }
    to {
      clip-path: var(--circle-bottom-right-in);
    }
  }
  
  section {
    --transition__duration: 1s;
    --transition__easing: ease-in-out;
    animation-name: circle-swoop;
  }